* {margin: 0; padding: 0;}

html {
	height: 100%;
    font-family: sans-serif;
    font-weight: 200;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}

body{
	background: url('../img/wood_pattern.png') repeat;
}

.container {
	padding: 100px;
	text-align: center;
}


button, input, optgroup, select, textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 200px;
	box-sizing: border-box;
	background-color: rgba(256,256,256, 0.5);
	color: #2C3E50;
	font-size: 13px;

}

.submit {
	width: 100px;
	background: #36d278;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	text-align: center;
}

span {
	width: 100px;
	background: #d23642;
	font-weight: 400;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	text-align: center;
}

.title {
	width: 100%;
	font-size: 30px;
	font-family: Arial, sans-serif;
	text-align: center;
	color: #fff;

	/*Glow to the text*/
	text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}